/AdditionOperator.class
/CosinusOperator.class
/DivisionOperator.class
/ExpressionInterpretor.class
/MultiplicationOperator.class
/MyStack.class
/Node.class
/NumberOperator.class
/PowerOperator.class
/RBinaryTree.class
/RecursiveBinaryTree.class
/SinusOperator.class
/Stack.class
/SubtractionOperator.class
/TreeInterpretor.class
/VariableOperator.class
/AnalyticExpressionTree.class
/Test.class
/FormalExpressionTree.class
