/AdditionOperator.class
/CosinusOperator.class
/DivisionOperator.class
/PowerOperator.class
/SubtractionOperator.class
/SinusOperator.class
/NumberOperator.class
/VariableOperator.class
/MultiplicationOperator.class
